[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/Tsplivalo/TGS-Frontend.git
[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/lautaro-peralta/TGS-Backend.git
